<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="nav-link dropdown-toggle no-caret" href="#" id="topUserMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
            {% if app.user %}
                {{ app.user.username }}
            {% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="topUserMenu">
            {% if app.user %}
                <a class="dropdown-item" href="{{ path('manage.dashboard') }}">Dashboard</a>
                <a class="dropdown-item" href="{{ path('user.profile', {'slug': app.user.slug}) }}">Profile</a>
                <a class="dropdown-divider" href="#">&nbsp;</a>
                <a class="dropdown-item" href="{{ path('user.logout') }}">Logout</a>
            {% else %}
                <a class="dropdown-item" href="{{ path('user.login') }}">Login</a>
                <a class="dropdown-item" href="{{ path('user.register') }}">Register</a>
            {% endif %}
        </div>
    </li>
</ul>