<div class="container-form">
    <div class="row">
        <div class="col">
            <div class="form">
                <header class="form-title">
                    <h2><i class="fas fa-address-card"></i>&nbsp;Personal information</h2>
                </header>

                <div class="container">
                    <div class="form-group row">
                        <div class="col-2">
                            {{ form_label(userinfo.avatar_file) }}
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 image-preview-container">
                                <label for="register_userinfo_avatar" class="image-preview-label">
                                    <img src="" id="user_register_userinfo_avatar_preview" class="image-preview">
                                </label>
                                {{ form_widget(userinfo.avatar_file) }}
                            </div>
                        </div>
                    </div>

                    <div class="row row-errors">
                        <div class="col">
                            <span class="field-error">{{ form_errors(userinfo.avatar_file) }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            {{ form_label(userinfo.firstname) }}
                        </div>
                        <div class="col">
                            {{ form_widget(userinfo.firstname) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="field-error">{{ form_errors(userinfo.firstname) }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            {{ form_label(userinfo.lastname) }}
                        </div>
                        <div class="col">
                            {{ form_widget(userinfo.lastname) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="field-error">{{ form_errors(userinfo.lastname) }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            {{ form_label(userinfo.phone) }}
                        </div>
                        <div class="col">
                            {{ form_widget(userinfo.phone) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="field-error">{{ form_errors(userinfo.phone) }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            {{ form_label(userinfo.email) }}
                        </div>
                        <div class="col">
                            {{ form_widget(userinfo.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="field-error">{{ form_errors(userinfo.email) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var loadFile = function (event) {
                var output = document.getElementById('user_register_userinfo_avatar_preview');
                output.src = URL.createObjectURL(event.target.files[0]);
            };
            document.getElementById('register_userinfo_avatar_file').addEventListener('change', loadFile);
        });

    </script>
{% endblock %}