<div class="container-fluid container-compound-form" id="login_form">
    <div class="row">
        <div class="col col-left">
            <div class="container">
                {% if error %}
                <div class="row row-errors">
                    <div class="col">
                        <div class="alert alert-danger" role="alert">
                            {{ form_errors(form) }}
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-2">
                        {{ form_label(form.username) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <span class="field-error">{{ form_errors(form.username) }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                    {{ form_label(form.password) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {{ form_row(form._token) }}
                        {{ form_row(form.login) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- @TODO Random login pictures -->
        <div class="col-md-6 col-xl-6 col-image"  style="background-image: url('{{ asset('assets/images/forms/login/login-1.jpg') }}');"></div>
    </div>
</div>
