<nav id="main-navigation" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}"><i class="brand-icon fas fa-fish"></i>TRADERS.SOCIAL</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ app.request.get('_route') == 'home' ? 'active' }}">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item {{ app.request.get('_route') == 'landing' ? 'active' }}">
                    <a class="nav-link" href="{{ path('landing') }}">Landing</a>
                </li>
                <li class="nav-item {{ app.request.get('_route') == 'landing' ? 'active' }}">
                    <a class="nav-link" href="{{ path('landing') }}">New Auctions</a>
                </li>
            </ul>

            {% include 'structure/navigation/user/user.top.html.twig' %}
        </div>
    </div>
</nav>


